/* src/app/about/about.component.scss */
.about {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  &__title {
      font-size: 36px;
      margin-bottom: 20px;
      color: #333;
  }

  &__description {
      font-size: 18px;
      margin-bottom: 20px;
      color: #666;
      line-height: 1.6;
  }

  &__subtitle {
      font-size: 24px;
      margin-top: 20px;
      color: #333;
  }

  &__text {
      font-size: 18px;
      color: #666;
      line-height: 1.6;
  }
}
