<div class="forgot-password-card">
  <mat-card class="forgot-password-card__content">
    <mat-card-title class="forgot-password-card__title">Forgot Password?</mat-card-title>
    <mat-card-subtitle class="forgot-password-card__subtitle">Enter your email to reset your
      password</mat-card-subtitle>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-card__form">
      <mat-form-field appearance="fill" class="forgot-password-card__form__field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email address" />
        <mat-error *ngIf="submitted && f['email'].errors">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="forgot-password-card__form__submit">Reset
        Password</button>
    </form>

    <p class="forgot-password-card__login">Remembered your password? <a routerLink="/login">Login here</a></p>
  </mat-card>
</div>
