.profile {
  max-width: 100%;
  margin: 2rem auto;
  padding: 2rem;

  &__tabs {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    margin-top: 20px;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__form-field {
    width: 100%;
  }

  &__newsletter {
    margin-bottom: 1rem;
  }

  &__button {
    align-self: flex-end;
  }

  &__order-history {
    margin-top: 2rem;
  }

  &__order-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0;
  }

  &__order-product,
  &__order-qty,
  &__order-price,
  &__order-status {
    flex: 1;
  }

  &__load-more {
    margin-top: 1rem;
    align-self: center;
  }
}
