.admin-layout {
  display: flex;
  height: 100vh;

  &__sidebar {
    width: 250px;
    background-color: #fafafa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__header {
      height: 64px;
      background-color: #3f51b5;
      color: white;
      display: flex;
      align-items: center;
      padding: 0 16px;
    }

    &__main {
      flex: 1;
      padding: 16px;
      background-color: #f5f5f5;
    }

    &__footer {
      height: 50px;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
