// src/styles.scss

@import 'styles/variables';

// Global styles

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $dark-color;
  background-color: $light-color;
}

a {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 10%);
  }
}
