<div class="product-page">
  <div class="product-page__content">
    <aside class="product-page__sidebar">
      <div class="product-page__sidebar-title">Filters</div>
      <!-- Add more filters as needed -->
      <!-- <mat-form-field class="product-page__filter-category"> -->
        <!-- <mat-label>Category</mat-label> -->
        <!-- <mat-select [(ngModel)]="filters.category">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select> -->
      <!-- </mat-form-field> -->
      <button mat-raised-button="button" (click)="clearFilters()">Clear filters</button>
    </aside>

    <main class="product-page__products">
      <div class="product-page__products-header">
        <div class="product-page__products-sort">
          <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select [(ngModel)]="sortOption" (selectionChange)="sortProducts()">
              <mat-option value="popular">Popular</mat-option>
              <mat-option value="price">Price</mat-option>
              <mat-option value="new">New</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="product-page__products-search">
          <mat-form-field>
            <mat-label>Search Products</mat-label>
            <input matInput (keyup)="onSearch($event)" placeholder="Search...">
            <button type="button" mat-icon-button matSuffix (click)="clearSearch()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="product-page__products-count">
          Showing {{ products.length }} Products
        </div>
      </div>
      <div class="product-page__products-list">
        <div *ngFor="let product of products" class="product-page__products-item">
          <app-card-product [product]="product"></app-card-product>
        </div>
      </div>
      <button type="button" mat-button class="product-page__load-more" (click)="loadMore()">Load more products</button>
    </main>
  </div>
</div>
