<h2 mat-dialog-title>Order Details</h2>
<mat-dialog-content>
  <div class="order-details">
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>User ID:</strong> {{ order.userId }}</p>
    <p><strong>Status:</strong> {{ order.orderStatus }}</p>
    <p><strong>Total Amount:</strong> {{ order.totalAmount | currency }}</p>
    <p><strong>Payment Method:</strong> {{ order.payment.paymentMethod }}</p>
    <p><strong>Payment Status:</strong> {{ order.payment.paymentStatus }}</p>
    <p><strong>Amount:</strong> {{ order.payment.amount | currency }}</p>
    <h3>Items</h3>
    <table mat-table [dataSource]="order.items" class="mat-elevation-z8">

      <!-- Product ID Column -->
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> Product ID </th>
        <td mat-cell *matCellDef="let item"> {{ item.productId }} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let item"> {{ item.price | currency }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity * item.price | currency }} </td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
