.navbar {
  &--sticky {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; // Ensure it stays above other content
  }

  &__toolbar--menu {
    display: none; // Hide menu button by default
  }

  &__item {
    margin-right: 10px;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__submenu-item {
    min-width: 150px;
  }

  &__icon-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.75rem;
    position: relative;
    top: -20px;
    right: 10px;
    z-index: 999;
  }

  @media (max-width: 600px) {
    .navbar__toolbar--menu {
      display: block; // Show menu button on small screens
    }

    .navbar__item {
      display: none; // Hide other nav items on small screens
    }

    .navbar__spacer {
      display: none; // Hide spacer on small screens
    }
  }

  .navbar__menu {
    display: none; // Hidden by default
  }

  .navbar__menu.open {
    display: block; // Show menu when toggled
  }
}
