<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button [routerLink]="['/products']">Products</button>
  <button mat-button [routerLink]="['/categories']">Categories</button>
  <button mat-button [routerLink]="['/cart']">Cart</button>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/profile']">Profile</button>
    <button mat-menu-item [routerLink]="['/orders']">Orders</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
