<mat-nav-list>
  <ng-container *ngFor="let item of menuItems">
    <ng-container *ngIf="!item.subItems">
      <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </a>
    </ng-container>
    <ng-container *ngIf="item.subItems">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let subItem of item.subItems">
          <a mat-list-item [routerLink]="subItem.route" routerLinkActive="active">
            <mat-icon>{{ subItem.icon }}</mat-icon>
            <span>{{ subItem.name }}</span>
          </a>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-nav-list>
