<!-- src/app/profile/change-password-dialog/change-password-dialog.component.html -->
<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <mat-form-field appearance="fill" class="change-password-form-field">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" formControlName="currentPassword">
    </mat-form-field>
    <mat-form-field appearance="fill" class="change-password-form-field">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field appearance="fill" class="change-password-form-field">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button (click)="onCancel()">Cancel</button>
  <button type="button" mat-button color="primary" (click)="onChangePassword()">Change</button>
</mat-dialog-actions>
