@import '../../../styles/variables';

.product-management {
  &__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 1rem;
  }

  &__detail-button {
    background-color: $danger-color;

    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }


  &__file-input {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__filter {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__th,
  &__td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  &__th {
    font-weight: bold;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  .mat-icon {
    z-index: 0;
  }

  @media (max-width: 768px) {

    &__th,
    &__td {
      padding: 0.25rem;
      font-size: 0.75rem;
    }

    &__button {
      padding: 0.125rem;
      font-size: 0.75rem;
    }

    &__title {
      font-size: 1.25rem;
    }

    &__actions {
      flex-direction: column;
      align-items: flex-start;
    }

    &__filter,
    &__file-input,
    &__button {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
