.footer {
  padding: 20px;
  box-sizing: border-box;
  background: #f2f2f2;
  text-align: center;
  justify-content: space-evenly;
  display: flex;

  @media (max-width: 768px) {
    width: calc(100% / 2);
  }

  @media (max-width: 480px) {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__newsletter {
    margin-bottom: 20px;
    width: 50%;

    &-title {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    &-text {
      margin-bottom: 20px;
      color: #666;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-input {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }

    &-button {
      min-width: 100px;
      margin: 0 auto;
    }
  }

  &__link {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    //gap: 20px;
    width: 50%;

    &-section {
      width: calc(100% / 3);
      text-align: center;

      @media (max-width: 768px) {
        width: calc(100% / 2);
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }

    &-title {
      margin-bottom: 10px;
    }

    &-list {
      list-style: none;
      padding: 0;
    }

    &-item {
      margin-bottom: 5px;
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
