<footer class="footer">
  <div class="footer__newsletter">
    <h3 class="footer__newsletter-title">Sign up for our newsletter</h3>
    <p class="footer__newsletter-text">Be the first to know about our special offers, new product launches, and events.
    </p>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="footer__newsletter-form">
      <mat-form-field appearance="fill" class="footer__newsletter-input">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" formControlName="email">
        <mat-error *ngIf="signupForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="footer__newsletter-button">Sign Up</button>
    </form>
  </div>
  <div class="footer__link">
    <div class="footer__link-section">
      <h4 class="footer__link-title">Shop</h4>
      <ul class="footer__link-list">
        <li><a href="#" class="footer__link-item">Women's</a></li>
        <li><a href="#" class="footer__link-item">Men's</a></li>
        <li><a href="#" class="footer__link-item">Kids'</a></li>
        <li><a href="#" class="footer__link-item">Shoes</a></li>
        <li><a href="#" class="footer__link-item">Equipment</a></li>
        <li><a href="#" class="footer__link-item">By Activity</a></li>
        <li><a href="#" class="footer__link-item">Gift Cards</a></li>
        <li><a href="#" class="footer__link-item">Sale</a></li>
      </ul>
    </div>
    <div class="footer__link-section">
      <h4 class="footer__link-title">Help</h4>
      <ul class="footer__link-list">
        <li><a href="#" class="footer__link-item">Help Center</a></li>
        <li><a href="#" class="footer__link-item">Order Status</a></li>
        <li><a href="#" class="footer__link-item">Size Chart</a></li>
        <li><a href="#" class="footer__link-item">Return & Warranty</a></li>
        <li><a href="#" class="footer__link-item">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer__link-section">
      <h4 class="footer__link-title">About</h4>
      <ul class="footer__link-list">
        <li><a href="#" class="footer__link-item">About Us</a></li>
        <li><a href="#" class="footer__link-item">Responsibility</a></li>
        <li><a href="#" class="footer__link-item">Technology & Innovation</a></li>
        <li><a href="#" class="footer__link-item">Explore our stories</a></li>
      </ul>
    </div>
  </div>
</footer>
